# Function in Python

In [1]:
def sum(x, y):
    '''Fuction to add two arguments'''
#     result = x + y
#     return result
    return (x + y)

In [2]:
a = 7
b = 5
# How to call the function sum(...)
c = sum(a, b)

In [3]:
print(c)

12

In [4]:
print(sum(a, 40))

47

In [4]:
def average(x, y, z):
    total = x + y + z
    return total/3.0

In [5]:
d = 11
average(a, d, b)

7.666666666666667

In [6]:
average(20, 13, 28)

20.333333333333332

In [7]:
average(23, 32)

TypeError: average() missing 1 required positional argument: 'z'

In [8]:
average(4, 2, 5, 6)

TypeError: average() takes 3 positional arguments but 4 were given

In [9]:
x = 'Hello'
y = 'World'
sum(x, y)

'HelloWorld'

In [10]:
average(x, y, 'Python')

TypeError: unsupported operand type(s) for /: 'str' and 'float'

## Fcunction Scope

In [16]:
def maximum(n1, n2, n3):
    larger = n1
    if n2 > larger:
        larger = n2
    if n3 > larger:
        larger = n3
    return larger # The output of the function Maximum

In [17]:
maximum(23, 12, 15)

23

In [18]:
maximum(12, 23, 15)

23

In [19]:
maximum(12, 15, 23)

23

In [20]:
n3

NameError: name 'n3' is not defined

In [21]:
larger

NameError: name 'larger' is not defined

In [22]:
x

'Hello'

In [23]:
y

'World'

In [27]:
z = "Python programming"
print(z)

Python programming

In [26]:
maximum(x, y, z)

'World'

In [28]:
def sample():
    print(z)

In [29]:
sample()

Python programming

In [31]:
def sample():
    z = 35
    print(z)

sample()
print(z)

35
Python programming

## Function Parameter Options
### Placement of Arguments

In [33]:
def printItem(price, code, descritption):
    print('Item Price: {0}, Item Code: {1}, Item Description: {2}'.
          format(price, code, descritption))

In [34]:
price = 245.75
code = "Item123"
desc = "Jacket for adults with medium size"

In [36]:
printItem(price, code, desc)

Item Price: 245.75, Item Code: Item123, Item Description: Jacket for adults with medium size

In [37]:
printItem(code, desc, price)

Item Price: Item123, Item Code: Jacket for adults with medium size, Item Description: 245.75

In [38]:
def function1(n, sample_list):
    for x in range(n):
        print(sample_list[x])

In [40]:
my_list = [21, 43, 5, 22]
my_list

[21, 43, 5, 22]

In [41]:
function1(4, my_list)

21
43
5
22

In [42]:
function1(my_list, 4)

TypeError: 'list' object cannot be interpreted as an integer

In [44]:
function1(n=4, sample_list=my_list)

21
43
5
22

In [45]:
function1(sample_list = my_list, n = 4)

21
43
5
22

## Functions with Default Values

In [46]:
def larger(x, y = 0):
    return x if x > y else y

In [47]:
larger(3)

3

In [48]:
larger(4, 5)

5

In [49]:
larger(-3)

0

In [50]:
larger()

TypeError: larger() missing 1 required positional argument: 'x'

# Functions Lab (cont...)

In [8]:
i = 5
def fun1(x, y = 0, z = i):
    min_value = min(x, y, z) # min() returns minimum of the given inputs
    return min_value

In [10]:
fun1(4)

0

In [11]:
fun1(4, 7, 6)

4

In [12]:
fun1(20, 13, 15)

13

In [14]:
i = 10
print(i)

10

In [15]:
fun1(10, 7)

5

### Factorial of a Number?
##### Write a python function to find the factorial of for any given number?

In [17]:
# What is 1! = 1 
def fact1():
    return 1

In [18]:
# What is 2! = 2 
def fact2():
    return 2

In [19]:
# What is 3! = 3 * 2 == 2 * 3
def fact3():
    return (3 * 2)

In [16]:
# What is 4! = 4*3*2 == 2*3*4
def fact4():
    fact = 4 * 3 * 2
    return fact

In [20]:
# What is 5! = 5*4*3*2 == 2*3*4*5
def fact5():
    fact = 5 * 4 * 3 * 2
    return fact

In [22]:
fact1()

1

In [23]:
fact2()

2

In [24]:
fact5()

120

In [25]:
# What is 50!
def fact50():
    fact = 1
    for x in range(2, 51):
        fact *= x
    return fact

In [26]:
fact50()

30414093201713378043612608166064768844377641568960512000000000000

In [39]:
# What is n!
def factorial(n = 1):
    fact = 1
    for x in range(2, (n + 1)):
        fact *= x
    return fact

In [41]:
factorial(5)

120

# Recursive function
A function which calls itself

In [42]:
# What is n!
def factorial_rec(n = 1):
    if n == 1:
        return 1
    else:
        return n * factorial_rec(n-1) # Function call to itself

In [44]:
factorial_rec(5)

120

## Exercise: 
### 1. Find all even even numbers upto a given number n
     Example: n = 10
     outpout: 2, 4, 6, 8

### 2. All odd numbers between 100 to 130
    Output: 101, 103, 105, ..., 129

### 3. Find the largest and the smallest element from a matrix of NxM
    Example
        [[23, 53, 23], [23, 33, 31], [47, 25, 75], [87, 55, 75]]
    Output: 
        Largest value is 87
        Smallest value is 23

### 4. Find the fibonacci sequence/numbers upto n.
##### write your answers in both recursive and non-recursive implementations 
    Example: if n = 10
        Output: 1, 1, 2, 3, 5, 8
    Example2: if n = 30:
        output: 1, 1, 2, 3, 5, 8, 13, 21